.max-width {
    max-width: 1600px;
}

img {
    width: 100%;
    height: auto;
}

#searchForm {
    width: 100%;
}

#whale {
    margin: 0 auto;
    display: block;
}

#search {
    width: 100%;
}

#inputDiv {
    width: 100%;
}

/* Links inside the dropdown */
.dropdown-content div {
    color: #000;
    padding: 2px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content div:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.dropdown-content .prev-search {
    color: #ff4081;
}

#suggestions {
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    padding: 6px 12px;
}

ins {
    margin-top: 100px;
}

h3 {
    margin-top: 0;
    margin-bottom: 0;
}

.nba-picture {
    height: 145px;
    width: auto;
    vertical-align: middle;
}

.info {
    display: inline-block;
}

strong {
    color: #ff4081;
}

table, th, td {
    border-collapse: collapse;
}

th, td {
    padding: 5px;
    color: #ff4081;
    border-bottom: 2px solid #ddd;
    border-top: 1px solid #ddd;
}

th {
    border-color: #55595c;
}

td {
    background-color: #ff4081;
    color: #fff;
}

.result a {
    color: #3f51b5;
}

.url {
    color: rgba(0, 0, 0, 0.54);
}

.date {
    color: rgba(0, 0, 0, 0.38);
}

hr {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    border-top: 1px solid #eceeef;
}

.adsbygoogle {
    position: fixed;
    bottom: 1em;
    width: 100%;
}